###> System Files ###
.DS_Store
Thumbs.db
###> System Files ###

###> IDEs and editors ###
nbproject/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
###< IDEs and editors ###

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
